<nav class="navbar navbar-light shadow">
  <a href="#" class="navbar-brand">Spiza</a>
</nav>
<div class="conatiner-fluid">
  <div class="container row p-4 mx-auto">
    <!-- <div class="col-md-4 col-sm-6 p-3" *ngFor="let item of [1,1,1,1,1]" style="width: 300px"> -->
    <div class="col-md-4 col-sm-6 p-3" *ngFor="let item of items" style="width: 300px">
      <div class="card border-0 shadow">
        <!-- <img src="https://source.unsplash.com/random/300x200?product" class="card-image-top"> -->
        <div style="height: 200px" class="w-100 bg-cover bg-center" [style.backgroundImage]="'url(https://spiza-app.com/' + item.generic_item.images[0].image + ')'">
        </div>
        <div class="card-body">
          {{item.generic_item.name}}
        </div>
      </div>
    </div>
  </div>
</div>
